.pagination {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding-top: 2em;
    
  }
  


  .pagination button {
    background-color: white;
    color: var(--color-green);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.3);
    
  }
  
  .pagination button.active {
    background-color: var(--color-green);
    color: white;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.3);
    padding-inline: 1em; 
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(.active) {
    background-color: var(--color-green);
    color: white;
  }
  
  .pagination__items {
    border-radius: 10px 0 0px 10px;
    padding-block: 2em;
  }
  
  

    